  <section class="media-and-text image-right" id="feature-section">
    <div class="container media-and-text-container">
        <div class="row">
            <div class="col-md-6 p-1">
      <div class="media-content">
        <img src="{{section5.image}}" alt="{{section5.title}}">
      </div>
      </div>
      <div class="col-md-6 p-3">
      <div class="text-content p-3">
        <h2><a href="{{metadata.url}}">{{section5.title}}</a></h2>
        <p>{{section5.intro}}</p>
        <p><a href="{{section5.link}}" class="btn">{{section5.button}}</a></p>
      </div>
      </div>
    </div>
  </section>
