<title>{{ title or metadata.title }}</title>
<meta content="{{ title or metadata.title }}" property="og:title">
<meta content="{{ title or metadata.title }}" name="twitter:title">
<meta content="{{ title or metadata.title }}" name="title">
<meta content="{{ title or metadata.title }}" property="og:site_name">
<meta content="{{ description or metadata.description }}" name="description">
<meta content="{{ description or metadata.description }}" property="facebook:description">
<meta content="{{ description or metadata.description }}" property="og:description">
<meta content="{{ description or metadata.description }}" name="twitter:description">
<meta property="twitter:card" content="summary_large_image">
<meta content="{{image or metadata.image}}" name="twitter:image">
<meta content="{{image or metadata.image}}" property="facebook:image">
<meta content="{{image or metadata.image}}" property="og:image">
<meta content="{{ description or metadata.description }}" property="og:image:alt">
<meta content="{{ description or metadata.description }}" name="twitter:image:alt">
<link href="{{metadata.favicon}}" rel="icon" type="image/x-icon">
<meta content="{metadata.facebook}" property="facebook:author">
<meta content="{{metadata.tweet}}" property="twitter:author">
<meta content="{{metadata.twitter}}" name="twitter:site">
<meta property="og:type" content="website">
<link rel="canonical" href="{{metadata.url}}{{page.url}}">
<meta name="language" content="{{metadata.language}}">
<meta name="locale" content="{{metadata.locale}}">
<meta property="og:locale" content="{{metadata.locale}}">
<meta content="index, follow" name="robots">
<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">		
<meta name="generator" content="{{ eleventy.generator }}">