<div class="col-md-6 p-3 offset-md-1">
<div class="text-content">
<h3 class="section1_header mb-3">
{{section6.title}}
</h3>
<p class="section1_text">
{{section6.intro}}
</p>
<p><a href="{{section6.link}}" class="btn">{{section6.button}}</a></p>
</div>
</div>
