<div class="container-fluid">
<nav class="navbar navbar-expand-lg">
<div class="container">
{% include "widget/navbar/desktop/logo.njk" %}
<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
{% include "widget/navbar/desktop/nav.njk" %}
{% include "widget/navbar/desktop/button.njk" %}
</div>
</div>
</nav>
</div>