<nav aria-label="Page navigation example">
<ol class="pagination justify-content-center p-3">
<li class="page-item">{% if pagination.href.previous %}<a class="page-link " href="{{ pagination.href.previous }}">
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
</svg>
</a>
{% endif %}</li>
{%- for pageEntry in pagination.pages %}
<li class="page-item"><a href="{{ pagination.hrefs[ loop.index0 ] }}"
{% if page.url == pagination.hrefs[ loop.index0 ] %} class="page-link  actives"
{% else %}class="page-link  "{% endif %}> {{ loop.index }}</a></li>
{%- endfor %}
<li class="page-item">{% if pagination.href.next %}<a class="page-link " href="{{ pagination.href.next }}">
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
</svg>
</a>{% else %}
{% endif %}</li>
</ol>
</nav>