<div class="container-fluid grid-containers hero">
<div class="container">
<div class="row mb-5 mb-5 p-3">
{% include "layouts/home/section_7/image.njk" %}
<div class="col-md-7 p-3 p-md-5 text-start">
{% include "layouts/home/section_7/content.njk" %}
{% include "layouts/home/section_7/step.njk" %}
</div>
</div>
</div>
</div>