<div class="row text-start">
<div class="col-md-12 p-1 chat_text">
<p> <img class="chat-icon me-3" alt="{{section7.step1}}" src="/img/list.svg"/> Step 1 : {{section7.step1}}</p>
</div>
<div class="col-md-8  col-11 offset-1 offset-md-3 p-1 chat_text">
<div class="row">
<div class="col-md-2 col-2">
<img class="chat-icon" alt="{{section7.step2}}" src="/img/list.svg"/>
</div>
<div class="col-md-9 offset-1 col-9 text-start">
<p> Step 2: {{section7.step2}}</p>
</div>
</div>
</div>
<div class="col-md-6 col-10 offset-2  offset-md-6 p-1 chat_text text-start">
<div class="row">
<div class="col-md-2 col-2">
<img class="chat-icon" alt="{{section7.step3}}" src="/img/list.svg"/>
</div>
<div class="col-md-9 offset-1 col-9">
<p> Step 3: {{section7.step3}}</p>
</div>
</div>
</div>
</div>