<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "widget/seo.njk" %}
{% include "widget/style.njk" %}
</head>
<body>
{% include "layouts/base/header.njk" %}
{% include "layouts/base/content.njk" %}
{% include "widget/marquee.njk" %}
{% include "widget/footer.njk" %}
</body>
</html>