<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "widget/seo.njk" %}
{% include "widget/style.njk" %}
</head>
<body>
{% include "layouts/post/hero.njk" %}
<div class="container">
<div class="row">
<div class="col-md-8 p-3 p-md-5">
{{content |safe }}
{% include "layouts/post/pagination.njk" %}
</div>
{% include "layouts/post/popular_post.njk" %}
</div>
</div>
{% include "widget/marquee.njk" %}
{% include "widget/footer.njk" %}
</body>
</html>