<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "widget/seo.njk" %}
{% include "widget/style.njk" %}
</head>
<body>
{% include "layouts/home/new_header.njk" %}
{% include "layouts/home/intro.njk" %}
{% include "layouts/home/section1.njk" %}
{% include "layouts/home/section2.njk" %}
{% include "layouts/home/section3.njk" %}
{% include "layouts/home/section4.njk" %}
{% include "layouts/home/section5.njk" %}
{% include "layouts/home/section_6/main.njk" %}
{% include "layouts/home/section_7/main.njk" %}
{% include "widget/blog_slider.njk" %}
{% include "widget/marquee.njk" %}
{% include "widget/footer.njk" %}
</body>
</html>
